/* Шрифт */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* Tailwind */
@import "tailwindcss";

* {
	font-family: "Roboto Slab", serif;
}

::-webkit-scrollbar {
	display: none;
}
